body {
    margin: 0;
    font-family: Arial, sans-serif;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main{
    flex: 1;
}
nav {
    background-color: #fff;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
}

.nav-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

ul {
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
}

li a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    transition: color 0.3s ease;
}

li a:hover {
    color: #e63946; /* Red on hover */
    text-decoration: underline;
}

.button {
    padding: 8px 16px;
    background-color: #e63946;
    color: white;
    text-decoration: none;
    border-radius: 4px;
}

.button:hover {
    background-color: #ce2626e6;
}
#register{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.registration-form{
    margin: 30px;
    width: 300px;
    border-radius: 10px;
    padding: 50px;
    background-color: #d6d6d6;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    padding: 10px;
    text-align: center;
}
